html, body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

.tweet {
    color: blue;
}

/* ================================= HEADER CSS ================================== */

.siteHeader {
	width: auto;
	height: auto;
	background-color: #F62817;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
/*	background-image: url(http://4vector.com/i/free-vector-black-bird-clip-art_118335_Black_Bird_clip_art_hight.png);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: right top;*/
}

#logo {
	font-size: 45px;
	color: white;
	float: left;
	display: inline-block;
}

#headertext {
	color: white;
	font-family: 'Lato', sans-serif;
	display: inline-block;
	margin-top: 50px;
	font-size: 45px;
}

#signup {
	width: 120px;
	height: 40px;
	border: 1px solid white;
	background-color: #E41B17;
	border-radius: 5px;
	float: right;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	color: white;	
	transition: 0.4s;
	margin-left: 5px;
}

#signup:hover {
	background-color: white;
	color: #F62817;
	transition: 0.4s;
}

#login {
	width: 120px;
	height: 40px;
	border: 1px solid white;
	background-color: #F62817;
	border-radius: 5px;
	float: right;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	color: white;	
	transition: 0.3s;
	margin-right: 5px; 
}

button:focus {outline: none;}

#login:hover {
	background-color: white;
	color: #F62817;
	transition: 0.3s;
}

#searchicon {
	margin-top: 1px;
}

/* ______________________ MEDIA QUERY FOR THE HEADER ___________________________ */

@media screen and (max-width: 767px) {

/*	#logo {
		margin-left: 50%;	
	}

	#headertext {
		margin-left: 10%;
	}*/

	#signup {
		margin-right: 10%;
	}

	#login {
		margin-left: 10%;
	}

	.siteHeader {
		text-align: center;
	}

	#headertext {
		margin-top: 100px;
	}

	#headertexttwo {
		margin-top: 30px;
	}
}

/* ================================= NAVBAR CSS ================================== */

/*.navi {
	width: auto;
	height: 60px;
	box-shadow: 0px 3px 3px #D1D0CE;
}
*/
/* ===================================== RESPONSIVE NAVBAR CONTENT ================================================ */

nav ul {
	background-color: white;
	overflow: hidden;
	color: grey;
	padding: 0;
	text-align: center;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
	box-shadow: 0px 3px 3px silver;
	border: none;

}

nav ul li {
	display: inline-block;
	padding: 20px;
	font-size: 18px;
	height: 60px;
	width: 150px;
	border-left: .5px solid silver;
	border-right: .5px solid silver;
	border-bottom: .5px solid silver;
	margin-bottom: -1px;
	margin-left: 0px;
	margin-right: -1px;
	font-family: 'Titillium Web', sans-serif;
	color: black;
	font-weight: lighter;
}

nav ul li:hover {
	border-bottom: 5px solid #F62817;
}

#ham {
	color: white;
	float: right;
	font-size: 25px;
	margin-bottom: 10px;
}

.handle {
	width: auto;
	background-color: #848482;
	box-sizing: border-box;
	cursor: pointer;
	height: 50px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	display: none;
}

@media screen and (max-width: 767px) {

	nav ul {
		max-height: 0px;
	}

	.showing {
		max-height: 20em;
	}

	nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 15px;
		text-align: left;
	}


	.handle {
		display: block;
		margin-top: -10px;
	}
}

/* ===================================== END RESPONSIVE NAVBAR CONTENT ================================================ */

/*-------------- HOME PAGE ------------------ */

.home {
	height: auto;
	background-color: #E5E4E2;
	margin-top: -7px;
	padding-top: 40px;
	padding-bottom: 40px;
}

/*-------------- FOOTER ------------------ */

.footer {
	width: auto;
	height: auto;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: white;
	margin-top: -40px;
	color: black;
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
	font-weight: lighter;
}

.lang {
	color: #1f4a7a;
}

.box {
	width: 100%;
	height: 300px;
	border: 1px solid silver;
	border-radius: 5px;
	background-color: white;
	display: inline-block;
	overflow: hidden;
	margin-bottom: 40px;
}

.picdiv {
	width: auto;
	height: 60%;
	background-image: url(http://www.gannett-cdn.com/-mm-/324661c7c44fecb919f261908ca611ef4164c88a/c=204-0-3996-2851&r=x404&c=534x401/local/-/media/2016/12/05/USATODAY/USATODAY/636165343642587459-AFP-AFP-IJ4VK-87036932.JPG);
	background-size: 100%;
}

.picdivtwo {
	width: auto;
	height: 60%;
	background-image: url(http://static6.businessinsider.com/image/51deda14ecad04c317000006/tom-brady-leaves-practice-with-a-possible-knee-injury.jpg);
	background-size: 100%;
}

.picdivthree {
	width: auto;
	height: 60%;
	background-image: url(http://www.billboard.com/files/media/kanye-west-june-2016-performance-billboard-1548.jpg);
	background-size: 100%;
}

.picdivmonkey {
	width: auto;
	height: 60%;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/ce/Gibraltar_Barbary_Macaque.jpg);
	background-size: 100%;
}

.picdivpatti {
	width: auto;
	height: 60%;
	background-image: url(http://theredlist.com/media/database/muses/icon/iconic_women/1970/patti-smith/004-patti-smith-theredlist.jpg);
	background-size: 100%;
}

.picdivmars {
	width: auto;
	height: 60%;
	background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/pia05490_hiresb.jpg);
	background-size: 100%;
}

.picdivhealth {
	width: auto;
	height: 60%;
	background-image: url(http://www.vdtcpa.com/wp-content/uploads/2014/01/healthcare.jpg);
	background-size: 100%;
}

.boxheading {
	width: auto;
	height: 100px;
	background-color: white;
	color: black;
	padding: 20px;
	font-size: 16px;
	overflow: hidden;
}

/* MEDIA QUERY FOR THE BOXES ON THE HOME PAGE */

@media screen and (max-width: 767px) {

	.box {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.boxheading {
		overflow: hidden;
	}

	#logo {
		margin-left: 45%;
		display: block;
	}

	.siteHeader {
		text-align: center;
	}

	#headertext {
		display: block;
	}

	.footer {
		height: 100px;
		overflow-y: scroll;
	}

}

#signupform {
	background-color: #F62817;
	color: white;
	font-family: 'Titillium Web', sans-serif;
	padding: 40px;
}

#signintext {
	font-size: 18px;
}

.enteremail {
	width: 100%;
	height: 25px;
	border: 1px solid white;
	background-color: white;
	color: black;
	text-align: left;
	border-radius: 5px;
	margin-top: 20px;
	padding: 5px;
}

.enterpassword {
	width: 100%;
	height: 25px;
	border: 1px solid white;
	background-color: white;
	color: black;
	text-align: left;
	border-radius: 5px;
	margin-top: 10px;
	padding: 5px;
	margin-bottom: 10px;
}

.remforgot {
	display: inline-block;
	color: white;
	font-family: 'Titillium Web', sans-serif;
	font-size: 12px;	
}

#rem {
	float: left;
}

#pwd {
	float: right;
}

input:focus {outline: none;}

.submitlogin {
	width: 100%;
	height: 40px;
	border: 1px solid white;
	background-color: #E41B17;
	border-radius: 5px;
	float: right;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	color: white;	
	transition: 0.4s;
	margin-left: 5px;
	margin-top: 20px;
}

.submitlogin:hover {
	background-color: white;
	color: #F62817;
	transition: 0.4s;
}

.featuredPosts {
	width: auto;
	height: 400px;
	background-color: #E5E4E2;
}

#featuredhr {
	width: 100%;
	border: .5px solid silver;
	float: left;
	display: inline-block;
	margin-top: -63px;
	border-top-color: #E5E4E2;
	border-left-color: #E5E4E2;
	border-right-color: #E5E4E2;
}

#featuredHeading {
	display: inline-block;
	color: black;
	font-family: 'Titillium Web', sans-serif;
	font-weight: lighter;
	font-size: 18px;
	margin-bottom: 50px;	
}

#greycover {
	background-color: #E5E4E2;
	padding-left: 20px;
	padding-right: 20px;
}

#featuredboxes {
	margin-top: -330px;
}

@media screen and (max-width: 800px) {

	#signupform {
		margin-bottom: 40px;	
	}

}










